body{
    height: 100%;
    background-image: url('../image/7.jpg');
    background-size: cover;
}
.form_login{
    margin: auto;
    width:700px;
    height: 480px;
    top: 90px;
    left: 366px;
    position: absolute;
    border-radius: 15px;
    background: rgba(216,216,216,0.5);      /*设置form表单透明度*/
    text-align: center;
    overflow: auto;
}
.form_login::-webkit-scrollbar{ //设置整个滚动条宽高
      width:6px;
      height:100%;
    }
.form_login::-webkit-scrollbar-thumb{ //设置滑块
      width:4px;
      height:60px;
      background-color:#ccc;
      border-radius:3px;
    }
.form_login::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: rgba(216,216,216,0.5);  //设置背景透明
    }
.form_login input[type="submit"]:hover{
        background-color:#5f73e9;
        background-image:-webkit-linear-gradient(bottom,#5f73e9 0%,#859bef 100%);
        background-image:-moz-linear-gradient(bottom,#5f73e9 0%,#859bef 100%);
        background-image:-ms-linear-gradient(bottom,#5f73e9 0%,#859bef 100%);
        background-image:-o-linear-gradient(bottom,#5f73e9 0%,#859bef 100%);
        -webkit-box-shadow: inset 0px 1px 0px #aab9f4;      /*当鼠标放在按钮上个时边框的阴影*/
        box-shadow: inset 0px 1px 0px #aab9f4;
        margin-top:0;
    }
