body {
    height: 100%;
    background-image: url('../image/7.jpg');
    background-size: cover;
}
.bgk {
    margin: auto;
    position: absolute;
    width: 1366px;
    height: 672px;
    overflow: hidden;   /*溢出部分隐藏*/
    background-size: cover;

    -webkit-animation-name: kenburns;       /*-animation-name:为@keyframes 动画规定名称,必须与-animation-duration同时使用，否则无动画效果*/
    animation-name: kenburns;

    -webkit-animation-duration: 8s;    /*定义动画完成一个周期所需时间*/
    animation-duration: 8s;

    -webkit-animation-timing-function: linear;  /*规定动画从头到尾以相同速度播放，还有其他几个速度值*/
    animation-timing-function: linear;

    -webkit-animation-iteration-count: infinite;    /*规定动画播放次数，infinite为无限次*/
    animation-iteration-count: infinite;

    -webkit-transform: scale(1.2);      /*规定动画的缩放特效，scale：规定2D缩放*/
    transform: scale(1.2);

    -webkit-filter: blur(10px);       /*定义图片的模糊程度，显示为毛玻璃效果*/
    filter: blur(2px);
}
.bgk-image:nth-child(1) {
    height: 100%;
    -webkit-animation-name: kenburns-1;       /*选择器上的名称*/
    animation-name: kenburns-1;
    z-index: 3;         /*动画堆叠顺序，值越大表示越先播放，离用户越近*/
    background-size: cover;
}
.form_login{
    margin: auto;
    width:700px;
    height: 480px;
    top: 90px;
    left: 366px;
    position: absolute;
    border-radius: 15px;
    background: rgba(216,216,216,0.5);      /*设置form表单透明度*/
    text-align: center;
    overflow: hidden;
}
