{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'homework/css/edit_task.css' %}" rel="stylesheet" />
        <title>编辑作业</title>
        <script>
            var count = {{ questions.count }};
            function addta()
            {
                count++
                if(count<20)
                {
                    var oTab = document.getElementById('tables');
                    var oTr = document.createElement('tr');
                    oTr.innerHTML="<tr><td>"+count+"<input type='text' name='question"+count+"'/></td><td>分值<input type='number' name='value"+count+"'/></td></tr>";
                    oTab.appendChild(oTr);
                }
                else
                {
                    alert("不能再增加题目了！")
                }
            }
        </script>
    </head>
    <body>
        <div class="form_login_div">
            <form class="form_login" action="{% url 'homework:edit_task_action' teacher.id task.id %}" method="post">
                </br></br>
                {% csrf_token %}
                <p>
                    <label>作业名称：
                        <input type="text" name="task_title" value="{{ task.task_title }}"/>
                    </label>
                </p>
                <p>
                    <input type="button" class="button" value="新增题目" onclick="addta()"/>
                </p>
                <p>
                    <table id="tables" align="center">
                    {% for question in questions %}
                        <tr>
                            <td>{{ forloop.counter }}
                                <input type='text' name='question{{ forloop.counter }}' value="{{ question.question_title }}"/>
                            </td>
                            <td>
                                分值<input type='number' name='value{{ forloop.counter }}' value="{{ question.value }}"/>
                            </td>
                        </tr>
                    {% endfor %}

                    </table>
                </p>
                <input type="submit" value="确定">
                <form action="{% url 'homework:delete_task_action' teacher.id task.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="删除作业"/>
                </form>
            </form>
        </div><!-- /container -->


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.min.js"></script>
        <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
