{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'homework/css/view_task.css' %}" rel="stylesheet" />
        <title>查看作业成绩</title>
    </head>
    <body>
        <div class="form_login_div">
            <form class="form_login">
                <h1>作业成绩分布</h1>
                <p>
                    <h4>作业名称：{{ task.task_title }}</h4>
                    <h6>发布时间：{{ task.time }}</h6>
                    <h6>总分：{{ task.value }}</h6>
                </p>
                <table id="tables" align="center">
                {% for k,v in dic.items %}
                    <tr>
                        <h3>{{ forloop.counter }}{{ k.question_title }} ({{ k.value }}分)</h3>
                    </tr>
                    <tr>
                        {% if v == None %}
                            暂未提交
                        {% else%}
                            <img width="80%" height="80%" src="/media/{{ v.answer }}">
                    </tr>
                    <tr>
                        <br>
                        提交时间：{{ v.time }}
                        <br>
                        给分：{{ v.grade }}
                        <br>
                        {% if v.postil %}
                            <div style="font-size:20px">
                                <a href="{% url 'homework:show_postil' v.id %}">查看批注</a>
                            </div>
                        {% else %}
                            未批注
                        {% endif %}
                    {% endif %}
                    </tr>
            {% endfor %}
            </table>
            </form>
        </div><!-- /container -->


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.min.js"></script>
        <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
