{% load static %}
<!DOCTYPE html>
<script type="text/javascript">
<!--
/* http://www.alistapart.com/articles/zebratables/ */
function removeClassName (elem, className) {
	elem.className = elem.className.replace(className, "").trim();
}

function addCSSClass (elem, className) {
	removeClassName (elem, className);
	elem.className = (elem.className + " " + className).trim();
}

String.prototype.trim = function() {
	return this.replace( /^\s+|\s+$/, "" );
}

function stripedTable() {
	if (document.getElementById && document.getElementsByTagName) {
		var allTables = document.getElementsByTagName('table');
		if (!allTables) { return; }

		for (var i = 0; i < allTables.length; i++) {
			if (allTables[i].className.match(/[\w\s ]*scrollTable[\w\s ]*/)) {
				var trs = allTables[i].getElementsByTagName("tr");
				for (var j = 0; j < trs.length; j++) {
					removeClassName(trs[j], 'alternateRow');
					addCSSClass(trs[j], 'normalRow');
				}
				for (var k = 0; k < trs.length; k += 2) {
					removeClassName(trs[k], 'normalRow');
					addCSSClass(trs[k], 'alternateRow');
				}
			}
		}
	}
}

window.onload = function() { stripedTable(); }
-->
</script>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'homework/css/view_grade.css' %}" rel="stylesheet" />
        <link href="{% static 'homework/css/table_css.css' %}" rel="stylesheet" type="text/css">
        <title>查看成绩</title>
    </head>
    <body>
        <div class="form_login_div">
            <form class="form_login">
                </br></br></br>
                <a>作业得分情况</a>
                </br></br></br>
                <table class="scrollTable" cellpadding="0" cellspacing="0"border="0" align="center">
                    <thead class="fixedHeader" align="center">
	                    <tr class="alternateRow">
		                    <th>作业</th>
		                    <th>成绩</th>
	                    </tr>
                    </thead>
                    <tbody class="scrollContent" align="center">
                    {% for k,v in dic.items %}
                    <tr class="normalRow">
                        <td>{{ k.task_title }}({{ k.value }}分)</td>
                        <td>
                            {% if v != None %}
                                {% if v.status == '1' %}
                                    未批改
                                {% elif v.status == '2' %}
                                    {{ v.grade }}
                                    &nbsp;&nbsp;
                                    <a href="{% url 'homework:view_task' student.student_id k.id v.id %}">查看</a>
                                {% endif %}
                            {% else %}
                                未提交
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div><!-- /container -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.min.js"></script>
        <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
